.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,500 C 0,500 0,166 0,166 C 81.19617224880383,199.0622009569378 162.39234449760767,232.1244019138756 252,223 C 341.60765550239233,213.8755980861244 439.62679425837314,162.5645933014354 537,144 C 634.3732057416269,125.4354066985646 731.1004784688996,139.6172248803828 827,161 C 922.8995215311004,182.3827751196172 1017.9712918660287,210.9665071770335 1120,213 C 1222.0287081339713,215.0334928229665 1331.0143540669856,190.51674641148327 1440,166 C 1440,166 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,166 0,166 C 74.42105263157893,169.30143540669857 148.84210526315786,172.60287081339715 246,181 C 343.15789473684214,189.39712918660285 463.0526315789474,202.88995215311004 577,213 C 690.9473684210526,223.11004784688996 798.9473684210527,229.8373205741627 881,227 C 963.0526315789473,224.1626794258373 1019.1578947368421,211.76076555023923 1108,200 C 1196.842105263158,188.23923444976077 1318.421052631579,177.1196172248804 1440,166 C 1440,166 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,166 0,166 C 108.69856459330146,154.25837320574163 217.3971291866029,142.51674641148324 298,152 C 378.6028708133971,161.48325358851676 431.11004784688987,192.19138755980862 535,191 C 638.8899521531101,189.80861244019138 794.1626794258375,156.71770334928232 896,158 C 997.8373205741625,159.28229665071768 1046.2392344497607,194.9377990430622 1128,202 C 1209.7607655502393,209.0622009569378 1324.8803827751196,187.5311004784689 1440,166 C 1440,166 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,166 0,166 C 93.55980861244021,191.27272727272725 187.11961722488041,216.54545454545453 280,206 C 372.8803827751196,195.45454545454547 465.08133971291875,149.0909090909091 557,149 C 648.9186602870813,148.9090909090909 740.555023923445,195.0909090909091 833,192 C 925.444976076555,188.9090909090909 1018.6985645933014,136.54545454545456 1120,124 C 1221.3014354066986,111.45454545454544 1330.6507177033493,138.72727272727272 1440,166 C 1440,166 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,166 0,166 C 81.19617224880383,199.0622009569378 162.39234449760767,232.1244019138756 252,223 C 341.60765550239233,213.8755980861244 439.62679425837314,162.5645933014354 537,144 C 634.3732057416269,125.4354066985646 731.1004784688996,139.6172248803828 827,161 C 922.8995215311004,182.3827751196172 1017.9712918660287,210.9665071770335 1120,213 C 1222.0287081339713,215.0334928229665 1331.0143540669856,190.51674641148327 1440,166 C 1440,166 1440,500 1440,500 Z");
  }
}

.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,500 C 0,500 0,333 0,333 C 88.99521531100476,371.0574162679426 177.9904306220095,409.1148325358851 281,394 C 384.0095693779905,378.8851674641149 501.03349282296665,310.5980861244019 607,301 C 712.9665071770333,291.4019138755981 807.8755980861243,340.4928229665072 895,340 C 982.1244019138757,339.5071770334928 1061.4641148325359,289.43062200956933 1151,280 C 1240.5358851674641,270.56937799043067 1340.267942583732,301.78468899521533 1440,333 C 1440,333 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,333 0,333 C 102.77511961722487,316.0047846889952 205.55023923444975,299.00956937799043 312,322 C 418.44976076555025,344.99043062200957 528.5741626794259,407.96650717703346 616,394 C 703.4258373205741,380.03349282296654 768.1531100478469,289.1244019138756 862,286 C 955.8468899521531,282.8755980861244 1078.8133971291866,367.5358851674641 1180,390 C 1281.1866028708134,412.4641148325359 1360.5933014354068,372.73205741626793 1440,333 C 1440,333 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,333 0,333 C 110.14354066985646,354.87559808612446 220.28708133971293,376.75119617224885 323,376 C 425.7129186602871,375.24880382775115 520.9952153110049,351.87081339712915 596,335 C 671.0047846889951,318.12918660287085 725.7320574162679,307.7655502392344 831,318 C 936.2679425837321,328.2344497607656 1092.0765550239234,359.066985645933 1202,365 C 1311.9234449760766,370.933014354067 1375.9617224880383,351.96650717703346 1440,333 C 1440,333 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,333 0,333 C 112.87081339712918,345.17224880382776 225.74162679425837,357.34449760765557 325,351 C 424.25837320574163,344.65550239234443 509.9043062200957,319.7942583732057 604,330 C 698.0956937799043,340.2057416267943 800.6411483253589,385.47846889952154 891,374 C 981.3588516746411,362.52153110047846 1059.531100478469,294.2918660287081 1149,278 C 1238.468899521531,261.7081339712919 1339.2344497607655,297.35406698564594 1440,333 C 1440,333 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,333 0,333 C 88.99521531100476,371.0574162679426 177.9904306220095,409.1148325358851 281,394 C 384.0095693779905,378.8851674641149 501.03349282296665,310.5980861244019 607,301 C 712.9665071770333,291.4019138755981 807.8755980861243,340.4928229665072 895,340 C 982.1244019138757,339.5071770334928 1061.4641148325359,289.43062200956933 1151,280 C 1240.5358851674641,270.56937799043067 1340.267942583732,301.78468899521533 1440,333 C 1440,333 1440,500 1440,500 Z");
  }
}